

.home{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    font-size: 5.5rem;
    color:var(--white);
    text-transform: uppercase;
}

.home .content p{
    font-size:1.8rem;
    padding:1rem 0;
    line-height: 1.5;
}


/*contactform*/
.contact form{
    margin:0 auto;
    background-color: var(--light-bg);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    max-width: 50rem;
    margin:0 auto;
    text-align: center;
}

.contact form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:var(--black);
}

.contact form .box{
    margin:1rem 0;
    width: 100%;
    border:var(--border);
    background-color: var(--white);
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border-radius: .5rem;
}

.contact form textarea{
    height: 20rem;
    resize: none;
}